<!DOCTYPE html>
<html>
<head>
<title>Hacking and Programming</title>
<link href="https://fonts.googleapis.com/css2?family=Handlee&family=MuseoModerno&family=Piedra&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
body {
font-family: sans-serif;
background-color: #fdfdfd;
}
strong {
  font-family: "Handlee";
}
h2 {
font-family: "MuseoModerno";
font-size: 29px;
}
h3,p, .container {
text-align: center;
}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <div class="nav-item">
      <h2 class="navbar-brand">Django Blogiee</h2>
    </div></nav>
<header class="jumbotron" style="background-color: black; color: white;">
<div class="container">
<h2 class="h2">OFFLINE</h2>
</div>
</header>
<div class="container">
<h2>Please, Connect to Internet to view your amazing blog</h2>
</div>
</body>
</html>
